.consultation__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    input {
        width: calc(296px - 42px);
        height: 48px;
        border: none;
        background-color: #f9f9f9;
        padding: 0 21px;
        font-size: 14px;
        border-radius: 4px;
        font-family: Proxima-Regular;
    }
    .consultation__button {
        @extend %button_style;
        padding: 15px 32.5px;
        font-size: 14px;
        &:hover {
            transform: scale(1.02);
        }
    }
    span {
        font-size: 12px;
        text-align: center;
        width: 296px;
        a, a:checked {
            color: $green;
            text-decoration: underline;
        }   
        a:hover {
            color: $titletext;
        }
    }
}   