@font-face {
    font-family: "Proxima-Regular";
    src: url(fonts/proximanova_regular.ttf);
}

@font-face {
    font-family: "Proxima-Semibold";
    src: url(fonts/proximanova_semibold.ttf);
}

@font-face {
    font-family: 'Proxima-Light';
    src: url(fonts/proximanova_light.otf);
}

@font-face {
    font-family: 'Proxima-Bold';
    src: url(fonts/proximanova_bold.otf);
}